name: Build Pkg
on: workflow_call

jobs:
  build:
    environment: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v6
        with: 
          name: dist
          path: dist/
