name: Publish to npmjs
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    uses: ./.github/workflows/job-build.yml

  test:
    uses: ./.github/workflows/job-test.yml

  publish-npm:
    environment: ci
    needs: [build, test]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # Required for OIDC
      attestations: write # Optional for security provenance
    steps:
      - uses: actions/checkout@v6
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - run: npm install -g npm@latest
      - run: npm publish --tag alpha --access public