name: Publish to npmjs
on:
  push:
    # branches:
      # - main
    tags:
      - "v*"
  # release:
  #   types: [published]
jobs:
  build:
    environment: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - uses: actions/upload-artifact@v6
        with: 
          name: dist
          path: dist/

  publish-npm:
    environment: ci
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # Required for OIDC
      attestations: write # Optional for security provenance
    steps:
      - uses: actions/checkout@v6
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - run: npm install -g npm@latest
      - run: npm publish --access public